<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>takoyaki-memo</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <p>takoyaki-memo <a id="readme_link" href="/?id=readme">(README)</a></p>
    <div>
        <input id="memo_id" type="text" placeholder="new"></input>
    </div>
    <div>
        <textarea id="memo_area" name="msg" cols=100 rows=35></textarea>
    </div>
    <div>
        <button id="create_button">create</button>
        <a id="top_link" href="/">top</a>
    </div>
    <div>
        <a id="share_link" href="" style="display: none;"></a>
    </div>
</body>
<script type="text/javascript" src="/statics/js/index.js"></script>
</html>
